{{#if updateWantedForm}}
  <h4>Update {{wanted.want}}</h4>
  <form>
    <div class="row">
      <div class="input-field col s6">
        <label for="want">{{wanted.want}}</label>
        {{input value=want id="want"}}
      </div>
      <div class="input-field col s6">
        <label for="description">{{wanted.description}}</label>
        {{input value=description id="description"}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="poster">{{wanted.poster}}</label>
        {{input value=poster id="poster"}}
      </div>
      <div class="input-field col s6">
        <label for="offer">{{wanted.offer}}</label>
        {{input value=offer id="offer"}}
      </div>
    </div>

    <a class="waves-effect waves-light btn" {{action 'update' wanted}}>Update</a>
  </form>
{{else}}
{{#md-btn action='showUpdateForm'}}Show update Form{{/md-btn}}
{{/if}}
