<div class="row">
  <div class="col s6">
    {{#md-card title="wants" id="wants"}}
    {{#md-card-content}}
    {{wanted-tile model=model.wanteds}}
    {{/md-card-content}}
    {{/md-card}}
    {{new-wanted save2="saveWanted"}}
  </div>
  <div class="col s6">
    {{#md-card title="for sale" id="forsale"}}
    {{#md-card-content}}
    {{forsale-tile model=model.forsales}}
    {{/md-card-content}}
    {{/md-card}}
    {{new-forsale save2="saveForSale"}}
  </div>

</div>

<!-- {{#md-card-collapsible class="popout"}}
  {{#each model.wanteds as |wanted|}}
    {{#md-collapsible icon="mdi-image-filter-drama" title=wanted.want}}
      {{wanted.description}}<br>
      Posted by: {{wanted.poster}}<br>
      At: {{wanted.posted}}<br>
      Offering: {{wanted.offer}}
      {{#link-to 'wanted' wanted.id}}Edit details{{/link-to}}
    {{/md-collapsible}}
  {{/each}}
{{/md-card-collapsible}} -->
